.container {
    padding: 0 2rem;
    background-color: #ffffff;
    box-shadow: -5px 5px 38px #dbdbdb, 5px -5px 38px #ffffff;
    pointer-events: auto;
}

.description {
    max-width: 700px;
    padding: 2rem 0;
    margin: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.mainCaption {
    max-width: 630px;
    padding: 3rem 0;
    margin: auto;
    text-align: justify;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.descriptionColumnsContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.descriptionList {
    margin: 1rem;
    max-width: 50%;
}

.descriptionLeftHeader {
    width: 30%;
    margin-right: 1rem;
    align-items: left;
}

.descriptionRightContent {
    align-items: left;
    max-width: calc(70% - 1rem);
}

.title {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.dndContainer {
    margin: auto;
    width: clamp(250px, 100%, 700px);
    line-height: 1.5;
    font-size: 1.5rem;
}
